.container {
    width: 600px;
    margin: 0 auto;
    background-color: black;
    padding: 10px 20px 50px;
}
.slider-container {
   overflow: hidden;
}
.slider-track {
    display: flex;
    transition: .2s;
}
.btn {
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
.slider-buttons {
    width: 90px;
    display: flex;
    justify-content: space-between;
}
.phrase {
    color: white;
}
.inscription {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.slider-item {
    height: 450px;
}